<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <title>Cadastro salvo!</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <script src="/scripts/cadastro.js"></script>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-cadastro.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body id="page-cadastro">
    <div id="container">
        <div class="logo-sucess">
            <div class="logo-cadastro">
                <div class="logo-cadastro2">
                    <img src="/images/icons/success-check-icon.svg" alt="Cadastro">
                    <h2>Cadastro salvo!</h2>
                    <p>Tudo certo, seu cadastro está na nossa lista de professores<br>
                            Agora é só ficar de olho no seu Whatsapp.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>